.character_section {
  width: 100%;
  max-width: 536px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.character_img {
  width: 180px;
  height: 180px;
  position: relative;
}

.character_state {
  width: 100%;
  max-width: 536px;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 12px;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.character_state_title {
  font-size: 18px;
  color: #0a0a0a;
  font-weight: 500;
}

.character_state_body {
  display: flex;
  justify-content: space-between;
}

.character_state_info {
  display: flex;
  flex-direction: column;
  color: #757575;
  font-size: 12px;
}

.character_state_name {
  display: flex;
  align-items: end;
  font-size: 16px;
  font-weight: 500;
}
