.footer {
  width: 100vw;
  height: 68px;
  padding: 0 16px;
  flex-shrink: 0; /* ⭐ footer 고정 */
  display: flex;
  justify-content: center;
}

.footer_button_section {
  width: 512px;
  height: 100%;
  padding: 12px 16px;
  display: flex;
  justify-content: space-around;
}

.footer_button_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
  font-size: 14px;
  cursor: pointer;
}

.footer_button_item_logo {
  width: 20px;
  height: 20px;
}
