.progress_root {
  position: relative;
  overflow: hidden;
  background-color: #e8e8e8;
  border-radius: 2px;
  width: 120px;
  height: 4px;
}

.progress_indicator {
  width: 100%;
  height: 100%;
  background-color: #3b82f6;
  border-radius: 999px;
  transition: transform 0.4s ease;
}
