.my_record_section {
  width: 100%;
  max-width: 536px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.record_item {
  width: 100%;
  max-width: 360px;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;
}

.my_name {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.record_item_result {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.record_item_result_left {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}

.result_circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #b6eef0;
}

.record_item_result_right {
  color: #757575;
  font-size: 14px;
}
.record_item:hover {
  background-color: #f3f3f3;
}
