.container {
  width: 100%;
  height: 100dvh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.body {
  width: 100vw;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  justify-content: center;
  background-color: #f9fafb;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  -ms-overflow-style: none;
}

.body::-webkit-scrollbar {
  display: none;
}

.body_section {
  width: 100%;
  max-width: 536px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button_section {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.button_item {
  width: 112px;
  height: 42px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #757575;
  transition: color 0.3s ease;
  cursor: pointer;
}

.button_item:hover {
  background-color: #f8f8f8;
}
